<header>
    <h1>Dashboard</h1>
</header>
<body>
    
<section class="stats">
    <div>
        <h1>$1,245,678</h1>
        <p>Total de Ventas</p>
    </div>
    <div>
        <h1>120+</h1>
        <p>Videojuegos</p>
    </div>
    <div>
        <h1>5000+</h1>
        <p>Clientes Satisfechos</p>
    </div>
</section>

<section class="about-us">
    <h2>Quiénes Somos</h2>
    <p>Somos una empresa apasionada por los videojuegos, comprometida con ofrecer la mejor experiencia a nuestros clientes. En Play and Win, nos esforzamos por brindar una amplia selección de videojuegos de alta calidad y servicio excepcional.</p>
</section>

<section class="location">
    <h2>Ubicación</h2>
    <p>Dirección: 123 Calle Principal, Ciudad Playa</p>
    <p>Teléfono: (123) 456-7890</p>
    <p>Correo Electrónico: info@playandwin.com</p>
</section>
</body>
