body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    
}

.logo {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}