
nav {
    background-color: rgb(61, 47, 212);
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 15px;
}

nav a:hover {
    background-color:rgb(46, 31, 209);
}

.logo {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}