/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e8ecffa9;
    min-height: 100vh;
    margin: 0;
}

main{
    margin-top: 70px;
    padding-bottom: 80px;
}
